<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <add key="word" value="VG10M0NNZXY="/>
  </appSettings>
<connectionStrings>
  <add name="EEREDB" connectionString="Data Source=10.10.25.10; Initial Catalog=EERE_Migration;Persist Security Info=True; User ID=eere_migrate;Password="/>
</connectionStrings>
</configuration>
